In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#Cambiar el path *Importante
PATH_2210 = "E01_T_DEU_CONS_2210_REV.csv"
PATH_2211 = "E01_T_DEU_CONS_2211_REV.csv"
PATH_2212 = "E01_T_DEU_CONS_2212_REV.csv"
PATH_2301 = "E01_T_DEU_CONS_2301_REV.csv"
PATH_2302 = "E01_T_DEU_CONS_2302_REV.csv"
PATH_2303 = "E01_T_DEU_CONS_2303_REV.csv"

Cargar las bases

In [ ]:
#df2210 = pd.read_csv(PATH_2210, delimiter=";")
#df2211 = pd.read_csv(PATH_2211,delimiter=";")
#df2212 = pd.read_csv(PATH_2212,delimiter=";")
#df2301 = pd.read_csv(PATH_2301,delimiter=";")
#df2302 = pd.read_csv(PATH_2302,delimiter=";")
#df2303 = pd.read_csv(PATH_2303,delimiter=";")

Cargar las bases (Solo las personas)

In [4]:
df2210 = pd.read_csv(PATH_2210, delimiter=";", usecols = ['RUT'])
df2211 = pd.read_csv(PATH_2211, delimiter=";", usecols = ['RUT'])
df2212 = pd.read_csv(PATH_2212, delimiter=";", usecols = ['RUT'])
df2301 = pd.read_csv(PATH_2301, delimiter=";", usecols = ['RUT'])
df2302 = pd.read_csv(PATH_2302, delimiter=";", usecols = ['RUT'])
df2303 = pd.read_csv(PATH_2303, delimiter=";", usecols = ['RUT'])

Buscamos a las personas que estan presentes en todos los dataframes

In [5]:
RutComunes = np.intersect1d(np.intersect1d(np.intersect1d(df2210, df2211), df2212), np.intersect1d(df2301, np.intersect1d(df2302, df2303)))

Cantidad de Ruts comunes entre las bases:

In [4]:
print(RutComunes.size) #Podriamos eliminar la primera fila?

1028027

In [6]:
dfRutComunes = pd.DataFrame({'RUT': RutComunes})
lista_rut = dfRutComunes["RUT"]
#print(lista_rut[8])
#print(len(lista_rut))
dfRutComunes.tail(9)

             RUT
1028018  1083117
1028019  1083118
1028020  1083119
1028021  1083120
1028022  1083121
1028023  1083122
1028024  1083123
1028025  1083124
1028026  1083125

Lo que hacemos ahora es para cierta variable, crear un dataframe en el tiempo siempre y cuando el rut se encuentre en todos los periodos (Crear Funcion al final)

In [16]:
def dataframevariable(Variable):
    df2210 = pd.read_csv(PATH_2210, delimiter=";", usecols = ['RUT',Variable])
    df2211 = pd.read_csv(PATH_2211, delimiter=";", usecols = ['RUT',Variable])
    df2212 = pd.read_csv(PATH_2212, delimiter=";", usecols = ['RUT',Variable])
    df2301 = pd.read_csv(PATH_2301, delimiter=";", usecols = ['RUT',Variable])
    df2302 = pd.read_csv(PATH_2302, delimiter=";", usecols = ['RUT',Variable])
    df2303 = pd.read_csv(PATH_2303, delimiter=";", usecols = ['RUT',Variable])

    dftemporal = pd.DataFrame({'2210': df2210[Variable]})
    dftemporal = pd.DataFrame({'2211': df2210[Variable]})
    dftemporal = pd.DataFrame({'2212': df2210[Variable]})
    dftemporal = pd.DataFrame({'2301': df2210[Variable]})
    dftemporal = pd.DataFrame({'2302': df2210[Variable]})
    dftemporal = pd.DataFrame({'2313': df2210[Variable]})

In [7]:
#Ejemplo MTOINT:
#Primero cargamos todos los df con respecto a la variable
df22101 = pd.read_csv(PATH_2210, delimiter=";", usecols = ['RUT',"MTOINT"])
df22111 = pd.read_csv(PATH_2211, delimiter=";", usecols = ['RUT',"MTOINT"])
df22121 = pd.read_csv(PATH_2212, delimiter=";", usecols = ['RUT',"MTOINT"])
df23011 = pd.read_csv(PATH_2301, delimiter=";", usecols = ['RUT',"MTOINT"])
df23021 = pd.read_csv(PATH_2302, delimiter=";", usecols = ['RUT',"MTOINT"])
df23031 = pd.read_csv(PATH_2303, delimiter=";", usecols = ['RUT',"MTOINT"])

In [36]:
dfvarible22101 = df22101.loc[df22101['RUT'].isin(lista_rut)].dropna()
dfvarible22111 = df22111.loc[df22111['RUT'].isin(lista_rut)].dropna()
dfvarible22121 = df22121.loc[df22121['RUT'].isin(lista_rut)].dropna()
dfvarible23011 = df23011.loc[df23011['RUT'].isin(lista_rut)].dropna()
dfvarible23021 = df22101.loc[df23021['RUT'].isin(lista_rut)].dropna()
dfvarible23031 = df23031.loc[df23031['RUT'].isin(lista_rut)].dropna()

In [37]:
#Hacemos un dataframe vacio
dataframes = [dfvarible22101, dfvarible22111, dfvarible22121, dfvarible23011, dfvarible23021, dfvarible23031]
fechas = [2210,2211.2212,2301,2302,2303]
# Crear el nuevo dataframe combinando los dataframes
dftemporal = pd.concat([df['MTOINT'] for df in dataframes], axis=1)
dftemporal['RUT'] = dfvarible22101['RUT']

In [38]:
dftemporal.columns.values[0] = '2210'
dftemporal.columns.values[1] = '2211'
dftemporal.columns.values[2] = '2212'
dftemporal.columns.values[3] = '2301'
dftemporal.columns.values[4] = '2302'
dftemporal.columns.values[5] = '2303'
dftemporal.head(9)

      2210     2211      2212  2301     2302     2303       RUT
0      0.0  12156.0       NaN   NaN      0.0  49848.0  206506.0
1      0.0      NaN       0.0   0.0      0.0      0.0  318588.0
2      0.0  38805.0       0.0   0.0      0.0      0.0  897518.0
3   4494.0  40388.0    9854.0   0.0   4494.0      0.0  778606.0
4  12763.0  26671.0  136462.0   0.0  12763.0      0.0  778606.0
5   9621.0  27102.0  124570.0   0.0   9621.0      0.0  773271.0
6  16625.0  43084.0  106641.0   0.0  16625.0      0.0  318456.0
7      0.0  42110.0   46152.0   0.0      0.0      0.0   94128.0
8      0.0  18573.0   22196.0   NaN      0.0      0.0   96287.0