In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#Cambiar el path *Importante
PATH_2210 = "E01_T_DEU_CONS_2210_REV.csv"
PATH_2211 = "E01_T_DEU_CONS_2211_REV.csv"
PATH_2212 = "E01_T_DEU_CONS_2212_REV.csv"
PATH_2301 = "E01_T_DEU_CONS_2301_REV.csv"
PATH_2302 = "E01_T_DEU_CONS_2302_REV.csv"
PATH_2303 = "E01_T_DEU_CONS_2303_REV.csv"

Cargar las bases

In [ ]:
#df2210 = pd.read_csv(PATH_2210, delimiter=";")
#df2211 = pd.read_csv(PATH_2211,delimiter=";")
#df2212 = pd.read_csv(PATH_2212,delimiter=";")
#df2301 = pd.read_csv(PATH_2301,delimiter=";")
#df2302 = pd.read_csv(PATH_2302,delimiter=";")
#df2303 = pd.read_csv(PATH_2303,delimiter=";")

Cargar las bases (Solo las personas)

In [2]:
df2210 = pd.read_csv(PATH_2210, delimiter=";", usecols = ['RUT'])
df2211 = pd.read_csv(PATH_2211, delimiter=";", usecols = ['RUT'])
df2212 = pd.read_csv(PATH_2212, delimiter=";", usecols = ['RUT'])
df2301 = pd.read_csv(PATH_2301, delimiter=";", usecols = ['RUT'])
df2302 = pd.read_csv(PATH_2302, delimiter=";", usecols = ['RUT'])
df2303 = pd.read_csv(PATH_2303, delimiter=";", usecols = ['RUT'])

Buscamos a las personas que estan presentes en todos los dataframes

In [3]:
RutComunes = np.intersect1d(np.intersect1d(np.intersect1d(df2210, df2211), df2212), np.intersect1d(df2301, np.intersect1d(df2302, df2303)))

Cantidad de Ruts comunes entre las bases:

In [4]:
print(RutComunes.size) #Podriamos eliminar la primera fila?

1028027

In [4]:
dfRutComunes = pd.DataFrame({'RUT': RutComunes})
lista_rut = dfRutComunes["RUT"]
#print(lista_rut[8])
#print(len(lista_rut))
dfRutComunes.tail(9)

             RUT
1028018  1083117
1028019  1083118
1028020  1083119
1028021  1083120
1028022  1083121
1028023  1083122
1028024  1083123
1028025  1083124
1028026  1083125

Lo que hacemos ahora es para cierta variable, crear un dataframe en el tiempo siempre y cuando el rut se encuentre en todos los periodos (Crear Funcion al final)

In [16]:
def dataframevariable(Variable):
    df2210 = pd.read_csv(PATH_2210, delimiter=";", usecols = ['RUT',Variable])
    df2211 = pd.read_csv(PATH_2211, delimiter=";", usecols = ['RUT',Variable])
    df2212 = pd.read_csv(PATH_2212, delimiter=";", usecols = ['RUT',Variable])
    df2301 = pd.read_csv(PATH_2301, delimiter=";", usecols = ['RUT',Variable])
    df2302 = pd.read_csv(PATH_2302, delimiter=";", usecols = ['RUT',Variable])
    df2303 = pd.read_csv(PATH_2303, delimiter=";", usecols = ['RUT',Variable])

    dftemporal = pd.DataFrame({'2210': df2210[Variable]})
    dftemporal = pd.DataFrame({'2211': df2210[Variable]})
    dftemporal = pd.DataFrame({'2212': df2210[Variable]})
    dftemporal = pd.DataFrame({'2301': df2210[Variable]})
    dftemporal = pd.DataFrame({'2302': df2210[Variable]})
    dftemporal = pd.DataFrame({'2313': df2210[Variable]})

In [5]:
#Ejemplo MTOINT:
#Primero cargamos todos los df con respecto a la variable
df22101 = pd.read_csv(PATH_2210, delimiter=";", usecols = ['RUT',"SPROM"])
df22111 = pd.read_csv(PATH_2211, delimiter=";", usecols = ['RUT',"SPROM"])
df22121 = pd.read_csv(PATH_2212, delimiter=";", usecols = ['RUT',"SPROM"])
df23011 = pd.read_csv(PATH_2301, delimiter=";", usecols = ['RUT',"SPROM"])
df23021 = pd.read_csv(PATH_2302, delimiter=";", usecols = ['RUT',"SPROM"])
df23031 = pd.read_csv(PATH_2303, delimiter=";", usecols = ['RUT',"SPROM"])

In [6]:
dfvarible22101 = df22101.loc[df22101['RUT'].isin(lista_rut)].dropna()
dfvarible22111 = df22111.loc[df22111['RUT'].isin(lista_rut)].dropna()
dfvarible22121 = df22121.loc[df22121['RUT'].isin(lista_rut)].dropna()
dfvarible23011 = df23011.loc[df23011['RUT'].isin(lista_rut)].dropna()
dfvarible23021 = df22101.loc[df23021['RUT'].isin(lista_rut)].dropna()
dfvarible23031 = df23031.loc[df23031['RUT'].isin(lista_rut)].dropna()

dfvarible23031.head()

      RUT  SPROM
0  760881    0.0
1  760880    0.0
2  760880    0.0
3  760878    0.0
4  760878    0.0

Creamos el DataFrame Final

In [7]:
dataframes = [
    (dfvarible22101, '2210'),
    (dfvarible22111, '2211'),
    (dfvarible22121, '2212'),
    (dfvarible23011, '2301'),
    (dfvarible23021, '2302'),
    (dfvarible23031, '2303')
]

dftemporal = pd.DataFrame()

for df, nombre_df in dataframes:
    dftemporal[nombre_df] = df['SPROM']

dftemporal['RUT'] = df22101['RUT'] 

print(dftemporal)
print(dftemporal.size)

               2210  2211  2212  2301        2302     2303     RUT
17        1065482.0   NaN   NaN   NaN   1065482.0      NaN  776596
18           6985.0   NaN   NaN   NaN      6985.0      0.0  776576
19         156690.0   NaN   NaN   NaN    156690.0      0.0  773582
20         191756.0   NaN   NaN   NaN    191756.0  20202.0  773579
21       10105089.0   NaN   NaN   NaN  10105089.0    222.0  773579
...             ...   ...   ...   ...         ...      ...     ...
2767486     51992.0   NaN   NaN   NaN     51992.0      0.0  584686
2767487    112617.0   NaN   0.0   NaN    112617.0      0.0  584686
2767488         0.0   NaN   0.0   NaN         0.0      0.0  584685
2767489   2091427.0   NaN   0.0   NaN   2091427.0      0.0  584685
2767490  21573884.0   NaN   0.0   0.0  21573884.0      0.0  584685

[858201 rows x 7 columns]
6007407

In [15]:
dftemporal = dftemporal.dropna()
print(dftemporal)

             2210       2211      2212      2301      2302       2303      RUT
327           0.0   699096.0  917802.0       0.0       0.0        0.0   793541
430           0.0        0.0       0.0  213705.0       0.0        0.0   793539
562           0.0        0.0   56839.0       0.0       0.0  7686258.0   767080
563           0.0        0.0  141596.0  487213.0       0.0        0.0   767084
784         401.0        0.0       0.0       0.0     401.0  4200000.0   111182
...           ...        ...       ...       ...       ...        ...      ...
2764694       0.0        0.0       0.0  199226.0       0.0  2059711.0  1047584
2766123  248793.0    50519.0       0.0       0.0  248793.0      663.0   754493
2766124       0.0   119605.0       0.0       0.0       0.0        0.0   754498
2766125       0.0  2148984.0       0.0       0.0       0.0   185000.0   754501
2766126  173320.0   971049.0       0.0       0.0  173320.0       18.0   754497

[5830 rows x 7 columns]

Ahora se genera funcion para realizar los test estadisticos

In [18]:
from statsmodels.stats.stattools import durbin_watson
from statsmodels.stats.diagnostic import acorr_breusch_godfrey
import statsmodels.api as sm
import datetime

def TestSeriesDW (dataframe,fecha_1,fecha_2):
    df_fecha_1 = dataframe[str(fecha_1)]
    df_fecha_2 = dataframe[str(fecha_2)]
    dw_test = durbin_watson(df_fecha_2 - df_fecha_1)
    print(f"{dw_test}")

def TestSeriesBG (dataframe,fecha_1,fecha_2):
    columna1 = dataframe[str(fecha_1)]
    columna2 = dataframe[str(fecha_2)]

    # Elimina las filas que contengan valores NaN en ambas columnas
    df_cleaned = dataframe.dropna(subset=[str(columna1), str(columna2)])

    # Realiza el test de Breusch-Godfrey entre las dos columnas
    bg_test = acorr_breusch_godfrey(df_cleaned[str(columna1)], exog=df_cleaned[str(columna2)])
    print(f"p-value={bg_test[1]}")

Ver Test De BG

In [10]:
TestSeriesDW(dftemporal,2210,2211)
TestSeriesDW(dftemporal,2211,2212)
TestSeriesDW(dftemporal,2212,2301)
TestSeriesDW(dftemporal,2301,2302)
TestSeriesDW(dftemporal,2302,2303) #Arrojan el mismo resultado
TestSeriesDW(dftemporal,2303,2302) #Up

1.9998191963772067
1.9216297685535972
1.999653676884856
1.999502249981422
1.9994032304652283
1.9994032304652283

Realizar test de BG con Implementacion Correcta

In [ ]:
TestSeriesBG(dftemporal,2210,2211)
TestSeriesBG(dftemporal,2211,2212)
TestSeriesBG(dftemporal,2212,2301)
TestSeriesBG(dftemporal,2301,2302)
TestSeriesBG(dftemporal,2302,2303) 
TestSeriesBG(dftemporal,2303,2302)

In [33]:
dflist = [2210,2211,2212,2301,2302,2303 ]


# Convertir la lista de fechas en formato aaaamm a un formato de fecha válido
fechas = pd.to_datetime(dflist, format='%Y%m', errors='coerce')

# Verificar que las fechas existan en la columna de fecha de dftemporal
fechas_validas = fechas.dropna()
columnas_validas = [col for fecha, col in zip(fechas, dflist) if pd.notnull(fecha)]

# Asignar los valores correspondientes a las columnas en dftemporal
for fecha, col in zip(fechas_validas, columnas_validas):
    dftemporal[col] = dftemporal.loc[fecha]

# Imprimir el DataFrame actualizado
print(dftemporal)

             2210       2211      2212      2301      2302       2303      RUT
327           0.0   699096.0  917802.0       0.0       0.0        0.0   793541
430           0.0        0.0       0.0  213705.0       0.0        0.0   793539
562           0.0        0.0   56839.0       0.0       0.0  7686258.0   767080
563           0.0        0.0  141596.0  487213.0       0.0        0.0   767084
784         401.0        0.0       0.0       0.0     401.0  4200000.0   111182
...           ...        ...       ...       ...       ...        ...      ...
2764694       0.0        0.0       0.0  199226.0       0.0  2059711.0  1047584
2766123  248793.0    50519.0       0.0       0.0  248793.0      663.0   754493
2766124       0.0   119605.0       0.0       0.0       0.0        0.0   754498
2766125       0.0  2148984.0       0.0       0.0       0.0   185000.0   754501
2766126  173320.0   971049.0       0.0       0.0  173320.0       18.0   754497

[5830 rows x 7 columns]

In [42]:

df_tiempo = df[['2210', '2211', '2212', '2301', '2302', '2303']].copy()
df_tiempo.columns = pd.to_datetime(df_tiempo.columns, format='%y%m')
df_tiempo = df_tiempo.T
print(df_tiempo)

             327       430        562       563        784       785      \
2022-10-01       0.0       0.0        0.0       0.0      401.0    6000.0
2022-11-01  699096.0       0.0        0.0       0.0        0.0     860.0
2022-12-01  917802.0       0.0    56839.0  141596.0        0.0  438441.0
2023-01-01       0.0  213705.0        0.0  487213.0        0.0   70320.0
2023-02-01       0.0       0.0        0.0       0.0      401.0    6000.0
2023-03-01       0.0       0.0  7686258.0       0.0  4200000.0  991237.0

              904        2060      2267        2268     ...    2314936  \
2022-10-01  1647226.0        0.0       0.0         0.0  ...   156020.0
2022-11-01       28.0  5338649.0  181032.0  13654420.0  ...  2312025.0
2022-12-01        5.0        0.0   29611.0    233044.0  ...   112347.0
2023-01-01  1319843.0   527928.0     641.0     83466.0  ...    44267.0
2023-02-01  1647226.0        0.0       0.0         0.0  ...   156020.0
2023-03-01   154739.0  2166398.0       0.0         0.0  ...      192.0

                2316469   2316549     2317157   2317712   2317713   2317714  \
2022-10-01      13488.0       0.0     17683.0  751238.0  787379.0  823536.0
2022-11-01     122931.0  140770.0    352536.0  529974.0   27016.0  113567.0
2022-12-01  955639210.0   69183.0  22849998.0   95500.0     394.0       0.0
2023-01-01          0.0  147596.0     79474.0       0.0       0.0       0.0
2023-02-01      13488.0       0.0     17683.0  751238.0  787379.0  823536.0
2023-03-01          0.0       0.0         0.0       0.0       0.0       0.0

               2318314    2319631  2321346
2022-10-01  34521344.0  4660064.0      0.0
2022-11-01         0.0        0.0  33333.0
2022-12-01   1192042.0        0.0      0.0
2023-01-01    390984.0   624842.0  38333.0
2023-02-01  34521344.0  4660064.0      0.0
2023-03-01         0.0   102355.0      0.0

[6 rows x 5000 columns]