In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#Cambiar el path *Importante
PATH_2210 = "E01_T_DEU_CONS_2210_REV.csv"
PATH_2211 = "E01_T_DEU_CONS_2211_REV.csv"
PATH_2212 = "E01_T_DEU_CONS_2212_REV.csv"
PATH_2301 = "E01_T_DEU_CONS_2301_REV.csv"
PATH_2302 = "E01_T_DEU_CONS_2302_REV.csv"
PATH_2303 = "E01_T_DEU_CONS_2303_REV.csv"

Cargar las bases

In [ ]:
#df2210 = pd.read_csv(PATH_2210, delimiter=";")
#df2211 = pd.read_csv(PATH_2211,delimiter=";")
#df2212 = pd.read_csv(PATH_2212,delimiter=";")
#df2301 = pd.read_csv(PATH_2301,delimiter=";")
#df2302 = pd.read_csv(PATH_2302,delimiter=";")
#df2303 = pd.read_csv(PATH_2303,delimiter=";")

Cargar las bases (Solo las personas)

In [2]:
df2210 = pd.read_csv(PATH_2210, delimiter=";", usecols = ['RUT'])
df2211 = pd.read_csv(PATH_2211, delimiter=";", usecols = ['RUT'])
df2212 = pd.read_csv(PATH_2212, delimiter=";", usecols = ['RUT'])
df2301 = pd.read_csv(PATH_2301, delimiter=";", usecols = ['RUT'])
df2302 = pd.read_csv(PATH_2302, delimiter=";", usecols = ['RUT'])
df2303 = pd.read_csv(PATH_2303, delimiter=";", usecols = ['RUT'])

Buscamos a las personas que estan presentes en todos los dataframes

In [3]:
RutComunes = np.intersect1d(np.intersect1d(np.intersect1d(df2210, df2211), df2212), np.intersect1d(df2301, np.intersect1d(df2302, df2303)))

Cantidad de Ruts comunes entre las bases:

In [4]:
print(RutComunes.size) #Podriamos eliminar la primera fila?

1028027

In [4]:
dfRutComunes = pd.DataFrame({'RUT': RutComunes})
lista_rut = dfRutComunes["RUT"]
#print(lista_rut[8])
#print(len(lista_rut))
dfRutComunes.tail(9)

             RUT
1028018  1083117
1028019  1083118
1028020  1083119
1028021  1083120
1028022  1083121
1028023  1083122
1028024  1083123
1028025  1083124
1028026  1083125

Lo que hacemos ahora es para cierta variable, crear un dataframe en el tiempo siempre y cuando el rut se encuentre en todos los periodos (Crear Funcion al final)

In [16]:
def dataframevariable(Variable):
    df2210 = pd.read_csv(PATH_2210, delimiter=";", usecols = ['RUT',Variable])
    df2211 = pd.read_csv(PATH_2211, delimiter=";", usecols = ['RUT',Variable])
    df2212 = pd.read_csv(PATH_2212, delimiter=";", usecols = ['RUT',Variable])
    df2301 = pd.read_csv(PATH_2301, delimiter=";", usecols = ['RUT',Variable])
    df2302 = pd.read_csv(PATH_2302, delimiter=";", usecols = ['RUT',Variable])
    df2303 = pd.read_csv(PATH_2303, delimiter=";", usecols = ['RUT',Variable])

    dftemporal = pd.DataFrame({'2210': df2210[Variable]})
    dftemporal = pd.DataFrame({'2211': df2210[Variable]})
    dftemporal = pd.DataFrame({'2212': df2210[Variable]})
    dftemporal = pd.DataFrame({'2301': df2210[Variable]})
    dftemporal = pd.DataFrame({'2302': df2210[Variable]})
    dftemporal = pd.DataFrame({'2313': df2210[Variable]})

In [5]:
#Ejemplo MTOINT:
#Primero cargamos todos los df con respecto a la variable
df22101 = pd.read_csv(PATH_2210, delimiter=";", usecols = ['RUT',"SPROM"])
df22111 = pd.read_csv(PATH_2211, delimiter=";", usecols = ['RUT',"SPROM"])
df22121 = pd.read_csv(PATH_2212, delimiter=";", usecols = ['RUT',"SPROM"])
df23011 = pd.read_csv(PATH_2301, delimiter=";", usecols = ['RUT',"SPROM"])
df23021 = pd.read_csv(PATH_2302, delimiter=";", usecols = ['RUT',"SPROM"])
df23031 = pd.read_csv(PATH_2303, delimiter=";", usecols = ['RUT',"SPROM"])

In [27]:
dfvarible22101 = df22101.loc[df22101['RUT'].isin(lista_rut)].dropna()
dfvarible22111 = df22111.loc[df22111['RUT'].isin(lista_rut)].dropna()
dfvarible22121 = df22121.loc[df22121['RUT'].isin(lista_rut)].dropna()
dfvarible23011 = df23011.loc[df23011['RUT'].isin(lista_rut)].dropna()
dfvarible23021 = df22101.loc[df23021['RUT'].isin(lista_rut)].dropna()
dfvarible23031 = df23031.loc[df23031['RUT'].isin(lista_rut)].dropna()

dfvarible23031.head()

      RUT  SPROM
0  760881    0.0
1  760880    0.0
2  760880    0.0
3  760878    0.0
4  760878    0.0

In [31]:
#Hacemos un dataframe vacio
dataframes = [dfvarible22101, dfvarible22111, dfvarible22121, dfvarible23011, dfvarible23021, dfvarible23031]
# Crear el nuevo dataframe combinando los dataframes
dftemporal = pd.concat([df['SPROM'] for df in dataframes], axis=1)
dftemporal['RUT'] = dfvarible22101['RUT']

dftemporal.size

16351230

In [32]:
dftemporal.columns.values[0] = '2210'
dftemporal.columns.values[1] = '2211'
dftemporal.columns.values[2] = '2212'
dftemporal.columns.values[3] = '2301'
dftemporal.columns.values[4] = '2302'
dftemporal.columns.values[5] = '2303'
#Eliminamos las filas que contengan algun NaN
#dftemporal = dftemporal.dropna()
dftemporal = dftemporal.sort_values('RUT', ascending=True)
dftemporal = dftemporal.drop_duplicates()
dftemporal.head(9)

               2210  2211  2212  2301        2302        2303   RUT
925264          0.0   0.0   0.0   NaN         0.0         NaN   0.0
1040751  26712996.0   NaN   NaN   NaN  26712996.0         0.0   1.0
1039952   5379495.0   NaN   NaN   0.0   5379495.0       713.0   3.0
1039951     10046.0   NaN   NaN   0.0     10046.0         NaN  26.0
1039950         0.0   NaN   NaN   0.0         0.0  27877374.0  26.0
1039949   1417965.0   NaN   NaN   0.0         NaN         0.0  27.0
1039948   8257573.0   NaN   NaN   0.0   8257573.0         NaN  27.0
1039947  19806167.0   NaN   NaN   0.0  19806167.0         NaN  28.0
1039946         0.0   NaN   NaN   0.0         0.0         NaN  28.0

In [33]:
print(dftemporal)

               2210  2211  2212  2301        2302        2303   RUT
925264          0.0   0.0   0.0   NaN         0.0         NaN   0.0
1040751  26712996.0   NaN   NaN   NaN  26712996.0         0.0   1.0
1039952   5379495.0   NaN   NaN   0.0   5379495.0       713.0   3.0
1039951     10046.0   NaN   NaN   0.0     10046.0         NaN  26.0
1039950         0.0   NaN   NaN   0.0         0.0  27877374.0  26.0
...             ...   ...   ...   ...         ...         ...   ...
2861240         NaN   NaN   NaN   NaN         NaN   1543045.0   NaN
2861242         NaN   NaN   NaN   NaN         NaN    487267.0   NaN
2861243         NaN   NaN   NaN   NaN         NaN     47325.0   NaN
2861245         NaN   NaN   NaN   NaN         NaN   1124392.0   NaN
2861246         NaN   NaN   NaN   NaN         NaN   2038440.0   NaN

[1670289 rows x 7 columns]

Otra forma de hacerlo(Ver cual es correcta)

In [30]:
dataframes = [
    (dfvarible22101, '2210'),
    (dfvarible22111, '2211'),
    (dfvarible22121, '2212'),
    (dfvarible23011, '2301'),
    (dfvarible23021, '2302'),
    (dfvarible23031, '2303')
]

dftemporal = pd.DataFrame()

for df, nombre_df in dataframes:
    dftemporal[nombre_df] = df['SPROM']

dftemporal['RUT'] = df22101['RUT'] 

print(dftemporal)
print(dftemporal.size)

               2210  2211  2212  2301        2302     2303     RUT
17        1065482.0   NaN   NaN   NaN   1065482.0      NaN  776596
18           6985.0   NaN   NaN   NaN      6985.0      0.0  776576
19         156690.0   NaN   NaN   NaN    156690.0      0.0  773582
20         191756.0   NaN   NaN   NaN    191756.0  20202.0  773579
21       10105089.0   NaN   NaN   NaN  10105089.0    222.0  773579
...             ...   ...   ...   ...         ...      ...     ...
2767486     51992.0   NaN   NaN   NaN     51992.0      0.0  584686
2767487    112617.0   NaN   0.0   NaN    112617.0      0.0  584686
2767488         0.0   NaN   0.0   NaN         0.0      0.0  584685
2767489   2091427.0   NaN   0.0   NaN   2091427.0      0.0  584685
2767490  21573884.0   NaN   0.0   0.0  21573884.0      0.0  584685

[858201 rows x 7 columns]
6007407